In [6]:
import pandas as pd
import numpy as np

## make a dataframe

In [7]:
arr = np.array([[1,2,3],[4,5,6],[7,8,9]])

In [8]:
pd.DataFrame(arr)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [12]:
pd.DataFrame(np.random.rand(4,8))

,0,1,2,3,4,5,6,7
0,0.410923,0.391055,0.713538,0.407846,0.964218,0.898076,0.195162,0.854125
1,0.635492,0.970362,0.546221,0.235757,0.222807,0.712884,0.355786,0.357821
2,0.848794,0.143888,0.146750,0.306342,0.112121,0.155012,0.931032,0.818901
3,0.692486,0.341382,0.331875,0.457845,0.569236,0.099791,0.162751,0.829834

In [13]:
pd.DataFrame(np.random.rand(4,8),columns=list('abcdefgh'))

,a,b,c,d,e,f,g,h
0,0.393294,0.962355,0.564907,0.087216,0.464810,0.082749,0.858444,0.657589
1,0.223289,0.579792,0.407800,0.841318,0.197453,0.173646,0.931425,0.773319
2,0.949688,0.694376,0.838893,0.826276,0.030924,0.418184,0.985566,0.988204
3,0.821952,0.254432,0.271013,0.874919,0.045541,0.172823,0.092931,0.847558

### To replace any charachter , string

In [14]:
df = pd.DataFrame({'A':[1,2,3],'B':[3,5,6]})
df

   A  B
0  1  3
1  2  5
2  3  6

In [20]:
df.rename(columns={'C':'AA','B':'BB'})

   AA  BB
0   1   3
1   2   5
2   3   6

In [27]:
df.columns = ['A_','B_']
df

   A_  B_
0   1   3
1   2   5
2   3   6

In [29]:
#replace any character or string
df.columns = df.columns.str.replace('_','X')
df

   AX  BX
0   1   3
1   2   5
2   3   6

In [32]:
# add prefix to columns
df =df.add_prefix('k')
df

   kkAX  kkBX
0     1     3
1     2     5
2     3     6

In [33]:
# add suffix to columns
df =df.add_suffix('k')
df

   kkAXk  kkBXk
0      1      3
1      2      5
2      3      6