In [17]:
import pandas as pd

In [18]:
#reading/importing
df =pd.read_excel("pandas_01_day6.xlsx")

In [19]:
df.head(10)

   height  weight favourite_dish
0     5.8     101  Chicken Pulao
1     6.2      92        Biryani
2     5.9      62  Karahi Ghosht
3     5.9      95  Chicken Pulao
4     5.9      55  Chicken Pulao
5     5.3      59        Biryani
6     5.6      50          Pasta
7     5.9      76        Biryani
8     5.1      78        Biryani
9     5.4      68        Biryani

In [20]:
df.tail()

    height  weight favourite_dish
82     5.4      55          Pasta
83     5.9      75  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

In [21]:
df.tail(2)

    height  weight favourite_dish
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

In [23]:
# as define how many row in columns this command

df.shape

(87, 3)